
/*---------------------------------------( log-in )-----------------------------------------------*/

.log .header h4{
    margin-top: 25px;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 12px;
}
.log .header p{
    margin-top: 10px;
}


.log .header p a{
    text-decoration: none !important;
    font-weight: 200;
    font-size: 39px;
    cursor: pointer;
    color: #fc8019;
    padding-left: 7px;
}
.log img{
   object-fit: cover;
    width: 100%;
    height: auto;
}
.log .form-log {
    position: relative;
}

.log .form-log form input{
    background-color: transparent;
    line-height: normal;
    border: 1px solid #d4d5d9;
    outline: none;
    height: 70px;
    width: 100%;
    font-size: 17px;
    margin: 0;
    padding: 22px 20px 0px 20px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.log .form-log form button{
    width: 100%;
    margin-top: 35px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    padding: 0 2rem;
    color: #fc8019;
    letter-spacing: 0;
    color: #fff;
    background-color: #fc8019;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
}



.log .form-log form  p{
    font-size: 12px;
    color: #686b78;
    margin-top: 18px;
    font-weight: 500;
}
.log .form-log .f1{
    position: relative;
}
.log .form-log form  .after, .after1 , .after2{
    position: absolute;
    left: 0;
    bottom: 24px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 17px;
    cursor: text;
    transition: .2s ease;
    width: 100%;
    color: #93959f;
    will-change: transform,color,font-size;
    pointer-events: none;
    font-weight: 400;
}
.log .form-log form .before{
    font-size: 12px;
    font-weight: 500;
    color: #7e808c;
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
}


/*---------------------------------------( log-in )-----------------------------------------------*/


/*---------------------------------------( sign-in )-----------------------------------------------*/

.log svg{
    padding-left: 31px;
    opacity: 1px;
}
.log svg path{
    fill: #f56c124d;
}

::placeholder{
    font-size: 12px;
    font-weight: 500;
    color: #7e808c;}

/*---------------------------------------( sign-in )-----------------------------------------------*/



@media (max-width:576px){

    .log .img-md{
       position: relative;
    }
   
    .log svg{
        position: absolute;  
        top: 1rem;
        left: -10rem;
        height: 4rem;
    }
    .log .header p a{
        font-size: 24px;
    }
    .log .header h4{
            font-size: 31px;
    }
}

@media (min-width:768px) and (max-width:992px){



}